POSTGRES_DB=exercise
POSTGRES_USER=root
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432

COMPANIES_HTTP_ADDR=:8080
COMPANIES_DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable
COMPANIES_JWT_SECRET=replace-with-a-long-random-secret
# COMPANIES_JWT_ISSUER=
# COMPANIES_JWT_AUDIENCE=
