POSTGRES_DB=exercise
POSTGRES_USER=root
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432

COMPANIES_DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable
